/* navigation bar */
.topnav {
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  float: center;
  padding: 20px;
  position: relative;
  bottom: 15px;
  width: 1330px;

  right: 10px;
}

.topnav a {
  padding-top: 10%;
  display: inline;
  background-color: transparent;
  text-align: center;
  padding: 17px 16px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

.topnav a:hover {
  background-color: transparent;
  text-decoration: underline;
  color: tomato;
}

.topnav a.active {
  background-color: transparent;

  color: tomato;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* search */
input[type="search"] {
  position: absolute;
  padding: 3px;
  top: 100px;
  left: 50px;
  width: 1100px;
  height: 30px;
  text-decoration: none;
  border: 2px solid tomato;
  font-family: "Ubuntu", sans-serif;
  border-radius: 10px;
  text-align: center;
  border: 1px solid black;
}

/* select */
#type {
  position: absolute;
  top: 150px;
  left: 100px;
  width: 200px;
  height: 30px;
  border: 1px solid tomato;
  border-radius: 5px;
  text-align: center;
}
#rang {
  position: absolute;
  top: 150px;
  left: 400px;
  width: 200px;
  height: 30px;
  border: 1px solid tomato;
  border-radius: 5px;
  text-align: center;
}
#sqft {
  position: absolute;
  top: 150px;
  left: 700px;
  width: 200px;
  height: 30px;
  border: 1px solid tomato;
  border-radius: 5px;
  text-align: center;
}
#location {
  position: absolute;
  top: 150px;
  left: 1000px;
  width: 200px;
  height: 30px;
  border: 1px solid tomato;
  border-radius: 5px;
  text-align: center;
}
/* heading */
.heading {
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  position: absolute;
  left: 50px;
  bottom: 625px;
  color: black;
  padding: 5px;
  border: 2px solid black;
}
.heading1 {
  position: absolute;
  top: 490px;
  left: 180px;
  font-family: "Ubuntu", sans-serif;
}
.heading2 {
  position: absolute;
  top: 530px;
  left: 190px;
  font-family: "Ubuntu", sans-serif;
}
.heading3 {
  position: absolute;
  top: 490px;
  left: 600px;
  font-family: "Ubuntu", sans-serif;
}
.heading4 {
  position: absolute;
  top: 530px;
  left: 620px;
  font-family: "Ubuntu", sans-serif;
}
.heading5 {
  position: absolute;
  top: 230px;
  left: 100px;
  font-family: "Ubuntu", sans-serif;
  border-bottom: 2px solid tomato;
  border-left: 2px solid tomato;
  border-right: 2px solid tomato;
}
.heading6 {
  position: absolute;
  top: 490px;
  left: 1020px;
  font-family: "Ubuntu", sans-serif;
}
.heading7 {
  position: absolute;
  top: 530px;
  left: 1035px;
  font-family: "Ubuntu", sans-serif;
}
.heading9 {
  position: absolute;
  top: 985px;
  left: 840px;
  font-family: "Ubuntu", sans-serif;
}
.heading8 {
  position: absolute;
  top: 940px;
  left: 825px;
  font-family: "Ubuntu", sans-serif;
}
.heading11 {
  position: absolute;
  top: 985px;
  left: 430px;
  font-family: "Ubuntu", sans-serif;
}
.heading10 {
  position: absolute;
  top: 940px;
  left: 375px;
  font-family: "Ubuntu", sans-serif;
}
.heading12 {
  position: absolute;
  top: 1200px;
  left: 550px;
  font-family: "Ubuntu", sans-serif;
  border-bottom: 2px solid tomato;
}
.heading13 {
  position: absolute;
  font-size: 15px;
  top: 1300px;
  left: 150px;
  font-family: "Ubuntu", sans-serif;
  border-bottom: 2px solid tomato;
}
.heading14 {
  position: absolute;
  font-size: 15px;
  top: 1300px;
  left: 850px;
  font-family: "Ubuntu", sans-serif;
  border-bottom: 2px solid tomato;
}
/* button */
.button1 {
  position: absolute;
  top: 100px;
  padding: 3px;
  text-align: center;
  width: 120px;
  left: 1160px;
  height: 20px;
  text-decoration: none;
  background-color: white;
  border: 1px solid tomato;
  font-family: "Ubuntu", sans-serif;
  border-radius: 5px;
  color: black;
}
.button1:hover {
  background-color: tomato;
}
.button2 {
  position: absolute;
  top: 590px;
  padding: 3px;
  text-align: center;
  width: 120px;
  left: 180px;
  height: 20px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid tomato;
  font-family: "Ubuntu", sans-serif;
  border-radius: 5px;
  color: black;
}
.button2:hover {
  background-color: tomato;
}
.button3 {
  position: absolute;
  top: 590px;
  padding: 3px;
  text-align: center;
  width: 120px;
  left: 610px;
  height: 20px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid tomato;
  font-family: "Ubuntu", sans-serif;
  border-radius: 5px;
  color: black;
}
.button3:hover {
  background-color: tomato;
}
.button4 {
  position: absolute;
  top: 590px;
  padding: 3px;
  text-align: center;
  width: 120px;
  left: 1020px;
  height: 20px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid tomato;
  font-family: "Ubuntu", sans-serif;
  border-radius: 5px;
  color: black;
}
.button4:hover {
  background-color: tomato;
}
.button5 {
  position: absolute;
  top: 1040px;
  padding: 3px;
  text-align: center;
  width: 120px;
  left: 830px;
  height: 20px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid tomato;
  font-family: "Ubuntu", sans-serif;
  border-radius: 5px;
  color: black;
}
.button5:hover {
  background-color: tomato;
}
.button6 {
  position: absolute;
  top: 1040px;
  padding: 3px;
  text-align: center;
  width: 120px;
  left: 420px;
  height: 20px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid tomato;
  font-family: "Ubuntu", sans-serif;
  border-radius: 5px;
  color: black;
}
.button6:hover {
  background-color: tomato;
}
/* image */
.image1 {
  position: absolute;
  top: 350px;
  left: 100px;
  width: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.image2 {
  position: absolute;
  top: 500px;
  left: 100px;
  width: 300px;
  height: 130px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.image3 {
  position: absolute;
  top: 350px;
  left: 520px;
  width: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.image4 {
  position: absolute;
  top: 500px;
  left: 520px;
  width: 300px;
  height: 130px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.image5 {
  position: absolute;
  top: 350px;
  left: 930px;
  width: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.image6 {
  position: absolute;
  top: 500px;
  left: 930px;
  width: 300px;
  height: 130px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.image7 {
  position: absolute;
  top: 850px;
  left: 730px;
  width: 300px;
  height: 230px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.image8 {
  position: absolute;
  top: 800px;
  left: 730px;
  width: 300px;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.image9 {
  position: absolute;
  top: 850px;
  left: 330px;
  width: 300px;
  height: 230px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.image10 {
  position: absolute;
  top: 800px;
  left: 330px;
  width: 300px;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.image11 {
  position: absolute;
  top: 1200px;
  width: 1335px;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* footer */
.footer {
  overflow: hidden;
  padding: 15px;
  margin: 10% auto;
  background-color: rgba(0, 0, 0, 0.85);
  color: #bababa;
}
.footer p {
  float: left;
  width: 50%;
  font-size: 18px;
}
.footer p i {
  color: red;
}
.footer ul {
  float: right;
  width: 50%;
  padding: 0;
  margin: 0;
  text-align: right;
}
.footer ul li {
  display: inline-block;
}
.footer ul li a {
  text-decoration: none;
  color: #bababa;
}
.footer ul li a i {
  width: 50px;
  height: 50px;
  background-color: #4d4d4d;
  line-height: 50px;
  font-size: 35px;
  margin-left: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer ul li a i.fa-facebook:hover {
  background-color: #3b5998;
}
.footer ul li a i.fa-twitter:hover {
  background-color: #1da1f2;
}
.footer ul li a i.fa-linkedin:hover {
  background-color: #0077b5;
}
.footer ul li a i.fa-github:hover {
  background-color: #c68143;
}
.footer ul li a i:hover {
  color: #fff;
}
@media (max-width: 576px) {
  .footer ul li {
    margin-top: 15px;
  }
}
@media (max-width: 767.9px) {
  .footer {
    max-width: 540px;
  }
  .footer ul,
  .footer p {
    float: none;
    margin: auto;
    width: 100%;
    text-align: center;
  }
  .footer p {
    margin-top: 15px;
  }
}
@media (min-width: 768px) {
  .footer {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .footer {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .footer {
    max-width: 1140px;
  }
}
/* footer */
#wavify_footer {
  margin: 0;
  height: 250px;
  width: 100%;
}

footer {
  width: 100%;
  position: absolute;
  top: 1000px;
}

#footer-desktop {
  background-color: #23272a;
}

.footer-wrap {
  display: flex;
  justify-content: center;
}

.inner-wrap {
  width: 100%;
  max-width: 1600px;
  margin: 0 30px 0 15px;
}

#section_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

#section_footer_logo {
  margin: 0 0 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 100%;
}

#content_footer_logo {
  width: 150px;
  height: 35px;
  pointer-events: none;
  user-select: none;
}

#content_footer_logotext {
  margin: 5px 0 0 0;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  color: #eeeeee;
}

#section_footer_links {
  display: flex;
  flex-basis: 70%;
  align-items: flex-start;
  justify-content: space-between;
}

.section-content-links {
  margin: 0 15px 0 15px;
}

.content-footer-title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #7289da;
}

.content-footer-list {
  padding: 0;
  list-style-type: none;
}

.content-footer-link {
  margin: 10px 0 10px 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: capitalize;
  color: #eeeeee;
  cursor: pointer;
  text-decoration: none;
}

.content-footer-link:hover {
  color: #b0aeae;
}

.shaking-animation:hover {
  color: #f04747;
  animation: delete-account-warning 0.5s;
  animation-iteration-count: infinite;
}

@keyframes delete-account-warning {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#footer-mobile {
  display: none;
  background-color: #23272a;
}

#section_footer-m {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

#section_footer_links-m {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.section-content-links-m {
  width: 50%;
}

.section-footer-linksplit {
  display: flex;
  width: 100%;
}

.content-footer-link-m {
  margin: 10px 0 10px 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: capitalize;
  color: #eeeeee;
  cursor: pointer;
  text-decoration: none;
}

.content-footer-link-m:hover {
  color: #b0aeae;
}

@media only screen and (max-width: 767px) {
  #footer-mobile {
    display: block;
  }

  #footer-desktop {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  #footer-mobile {
    display: block;
  }

  #footer-desktop {
    display: none;
  }
}
